<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--<section name="mqttTopicNameConversion" type="SocketIoT.IoTHubProvider.Addressing.MessageAddressConversionConfigurationHandler, SocketIoT.AzureIoTHubClient" />-->
    <section name="mqttTopicNameConversion" type="SocketIoT.IoTHubProvider.Addressing.MessageAddressConversionConfigurationHandler, SocketIoT.IoTHubProvider" />
  </configSections>
  <appSettings configSource="appsettings.config.user" />
  <mqttTopicNameConversion configSource="mqttTopicConversion.config.user" />
  <runtime>
    <gcServer enabled="true" />
    <gcConcurrent enabled="true" />
  </runtime>
</configuration>